/*  your css code here. If applicable */

:root {
    background-color: rgb(135, 206, 235);
}

p:first-child {
    color: white;
    background-color: black;
}

p:nth-child(2) {
    /* No specific styles needed unless you want to override */
}

p:last-child {
    color: red;
}

ul {
    list-style-type: none; /* Remove default bullet points */
}

li {
    background-color: gray; /* Default color */
    width: 50%;
    padding: 10px;
}

li:nth-child(odd) {
    background-color: white; /* Odd items */
}

li:first-child, li:last-child {
    font-size: 22px;
}

li:nth-last-child(3) {
    background-color: pink;
}